<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
</head>
<body>
        <h1>This is api </h1>
        <p>path('api/register/', RegisterAPI.as_view(), name='register'),
                path('api/login/', LoginAPI.as_view(), name='login'),
                path('api/logout/', knox_views.LogoutView.as_view(), name='logout'),
                path('api/logoutall/', knox_views.LogoutAllView.as_view(), name='logoutall'),</p>
</body>
</html>